.reveal section > .left-col, .reveal section > .right-col {
	position: absolute;
}

.reveal .slides.multi-page section:nth-child(odd) {
	page-break-after: avoid !important;
}

.reveal .slides.multi-page section:nth-child(even) {
	page-break-after: always !important;
}
