.highlighted-line {
	z-index: 1;
}

.reveal .slides .logo {
	text-align: center;
	margin-top: 3em;
	position: absolute;
	bottom: 5%;
	left: 0;
}

.reveal .slides pre code, .reveal .slides code {
	font-family: "Fira Code", "FiraMonoRegular", Menlo, Monaco, Consolas, "Courier New", monospace;
}

.reveal .slides .bigger {
  font-size: 1.4em;
}

.reveal .slides .smaller {
  font-size: 0.5em;
}
